<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:xbox="http://schemas.microsoft.com/appx/manifest/xbox/windows10"
  IgnorableNamespaces="uap mp xbox">

  <Identity
    Name="Adoptsomekids.SaveBridge"
    Publisher="CN=Adoptsomekids"
    Version="1.0.0.0"
    ProcessorArchitecture="x64" />

  <mp:PhoneIdentity
    PhoneProductId="00000000-0000-0000-0000-000000000000"
    PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SaveBridge</DisplayName>
    <PublisherDisplayName>Adoptsomekids</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Xbox" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SaveBridge.App">
      <uap:VisualElements
        DisplayName="SaveBridge"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Xbox Save Bridge - Dead Island DE saves over local HTTP"
        BackgroundColor="#1a1a2e">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <xbox:Capability Name="connectedStorageAccess" />
  </Capabilities>

</Package>
